@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.backdrop-blur-md {
    backdrop-filter: blur(12px);
}

.select-none {
    user-select: none;
}